.v-toolbar a{
    margin: 0 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.v-toolbar .v-toolbar-title{
    color:#57534E;
    font-family: Georgia, 'Times New Roman', Times, serif
}