.v-container a{
    margin: 0 20px;
    text-decoration: none;
    font-family: Garamond;
}

.v-container a:hover{
    text-shadow: 2px 2px 20px #b0bec5;
}

.v-toolbar .v-toolbar-title{
    color:#57534E;
    font-family: Georgia, 'Times New Roman', Times, serif
}